include lib/javascript
include lib//graphics
include ../../../jade/lib/comm

!!! 5
html(lang="en")
    head
        title Wappy 101 template
        meta(name="viewport", content="width=device=width, initial-scale=1.0")
        script(src="http://chaijs.com/chai.js")
        script(src="http://code.jquery.com/jquery-latest.min.js")
        link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel="stylesheet")
        link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css", rel="stylesheet")
        script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
        script(src="/underscore.js", type="text/javascript")
        script(src="http://code.createjs.com/createjs-2013.05.14.min.js")
        script(src="/utils.js")
        script(src="/socket.io/socket.io.js")
        link(rel='stylesheet', href='style.css')



    body
        mixin modals
        #wrap
            .navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")
                .container
                    .navbar-header
                        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.navbar-brand(href"#") wappy
                    .collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li.active
                                a(href="/")
                                    span.glyphicon.glyphicon-home
                                    b &nbsp Home
                            li.dropdown
                                a(href="#", data-toggle="dropdown").dropdown-toggle
                                    span.glyphicon.glyphicon-paperclip
                                    b &nbsp Work
                                    b.caret
                                ul.dropdown-menu
                                    li: a(href="/worky") Worky
                                    li: a(href="/cappy") Cappy
                                    li: a(href="/cutty") Cutty
                            li.dropdown
                                a(href="#", data-toggle="dropdown").dropdown-toggle
                                    span.glyphicon.glyphicon-earphone
                                    b &nbsp Social
                                    b.caret
                                ul.dropdown-menu
                                    li: a(href="/muggy") Muggy
                                    li: a(href="/roomy") Roomy
                            li.dropdown
                                a(href="#", data-toggle="dropdown").dropdown-toggle
                                    span.glyphicon.glyphicon-send
                                    b &nbsp Play
                                    b.caret
                                ul.dropdown-menu
                                    li: a(href="/shooter") Shooter
                                    li: a(href="/godzilla") Godzilla



                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="#")
                                    span.glyphicon.glyphicon-asterisk
                                    b &nbsp Settings
                            li.dropdown
                                a(href="#",data-toggle="dropdown").dropdown-toggle
                                    span.glyphicon.glyphicon-folder-open
                                    b &nbsp Account
                                    b.caret
                                ul.dropdown-menu
                                    li: a(href="#") Details


                            li.dropdown
                                if (u)
                                    a(href="#", data-toggle="dropdown").dropdown-toggle
                                        span.glyphicon.glyphicon-user
                                        b &nbsp #{u}
                                        b.caret
                                    ul.dropdown-menu
                                        li:  a(href="/logout") Logout
                                else
                                    a(href="#", data-toggle="dropdown").dropdown-toggle
                                        span.glyphicon.glyphicon-user
                                        b &nbsp guest
                                        //b.caret
                                    ul.dropdown-menu
                                        //li:  a(href="/login") log in







            .container
                block content
            br
            br
        //    .footer
                .container
                    .row.sort
                        .col-md-4
                        .col-md-4
                            ul.nav.nav-pills
                                li.active
                                    a(href="#") About
                                li: a(href="#") FAQ
                        .col-md-4

