h1 js image objects
h2.
    so image objects in JS represent images.  you can access the image objects of html img tag elements and change three pops: size(x,y) and source(src)
    so you can change its size and what it is a picture of, but it can only be a picture of an entire file.  so you can put it it where you want just like you
    set locations of any of your html elements (via the html itself), and you can resize and STRETCH IT (i'm pretty sure), and it seems you can do some
    cool effects by rapidly (or on events) changing it's image file
h2.
    you can also 'DRAW' these images INTO a canvas html element.  just as the img element has a js object interface, so does the canvas.  for the canvas,
    it is called its 'CONTEXT' object

















