include mixins
!!! 5

html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'

        +S(['us','string', 'both', 'jq','objects','qq','jqfn','html','ctx', 'can', 'frontExtension'])
        +S(['cjs','cjsMC'])
        +S([ 'create',  'easel',  'shape',  'anim', 'anims'])
        //box
        +S(['gpcas',  'polyMath', 'bx', 'box', 'sep'])
        //fiz
        +S(['fiz', 'fizBod', 'coll', 'joint',  'ray' , 'co',  'geo'])
        //spaz
        +S(['bindSprite',  'world',  'bodies', 'player' ])
        //PLAY
        +S([ 'canGames', 'createGames'  ])
        +S([ 'blocks',  'bones', 'contact', 'controller', 'geometry'  ])
        +S(['arcade', 'webman', 'nice' ])
        
        +S([ 'play'])
        body