include mixins

!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'

        +S(['us','string', 'both', 'jq','objects','qq','jqfn','html','ctx', 'can', 'frontExtension'])
        +S(['cjs','cjsMC','anims','create', 'graphix',  'graf',  'filt', 'anim' ])
        +S(['gpcas',  'polyMath'])

        +S(['bx', 'box','sep', 'fiz', 'coll'])
        +S(['ray','co', 'polyCirc',   'geo' ,'geoWorld' ])
        +S([ 'joints', 'distJoints', 'revJoints', 'advancedJoints'])


        +S(['spaz','walls', 'bfr','spazBindSp','bPoly', 'scrolling', 'player','yip'])

        +S(['canApps', 'betaGames','coGames', 'cxGames','geoGames'])
        +S(['jointGames','netguy','scrollGames', 'shapePuzGames', 'yipGames','greenGuy'])
        +S(['loadApps', 'graphicsTests', 'play'])
        body