include mixins
!!! 5

html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'

        +S(['us','string','jq', 'cjs','cjsMC','gpcas', 'bx'  ])
        +S(['both',  'handy', 'createCore0', 'createCore', 'createMore','createMoreGems', 'createAnim', 'anims'])

        +S(['polyMath', 'box', 'sep','fiz', 'fizBod', 'coll', 'joint',  'ray' , 'co',  'geo'])


        +S(['bindSprite', 'world',  'bodies', 'player', 'play' ])
        +S([ 'nice','tx', 'canGames', 'blocks', 'bones', 'createGames'  ])
        +S(['contact', 'controller', 'geometry','arcade', 'webman'  ])

        +S([])
        body