include mixins

!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
        +S(['us','string', 'both', 'jq','objects','qq','jqfn','html'])
        +S(['ctx', 'can','canApps', 'graf0'])


        +S(['cjs','cjsMC', 'defaults'])
        +S([ 'graf', 'ticker', 'easelShape', 'displayOb', 'container', 'stage', 'load', 'easelText' ])
        +S([ 'tran', 'filts'])
        +S(['data','anims', 'anim', 'graphicsTests' ])

        +S(['bx','gpcas','box','sep'])

        +S([ 'fiz', 'coll'])


        +S(['spaz','spazBind','bPoly'])


        +S(['ray', 'scrolling' ])
        +S(['joints', 'distJoints', 'revJoints', 'advancedJoints'])
        +S(['geo', 'co'])
        +S(['player','yip'])
        +S(['betaGames','coGames', 'cxGames','geoGames'])
        +S(['jointGames','netguy','scrollGames', 'shapePuzGames', 'yipGames','greenGuy'])
        +S(['loadApps', 'play'])
        body