include mixins

!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'


        //front
        +S(['us','string','_both', 'jq','objects','qq','jqfn','html'])
        //can
        +S(['ctx', 'can','canApps'])
        //create
        +S(['cjs','cjsMC'])


        +S(['easel', 'cjsEvent' ,'easelProtos','easelProtosMore','create','graphicsMore','filts'])

        //anim
        +S(['data','anims', 'anim', 'graphicsTests','graf' ])




        //fiz
        +S(['bx', 'gpcas','box','geoStuff', 'fiz', 'coll', 'ray'])

        //spaz
        +S([    'spaz', 'worlds'   ])








        +S(['scrolling', 'fizAnim'])


        +S(['joints', 'distJoints', 'revJoints', 'advancedJoints'])
        +S(['geo', 'co'])
        +S(['player'])
        +S(['betaGames','coGames', 'cxGames','geoGames'])
        +S(['jointGames','netguy','scrollGames', 'shapePuzGames', 'yipGames'])
        +S(['loadApps', 'play'])
        body