include mixins
!!! 5

html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'

        +S(['us','string', 'both', 'jq','objects','qq','jqfn','html','ctx', 'can', 'frontExtension'])
        +S(['cjs','cjsMC', 'create', 'graphix', 'graf', 'anim'])

        //box
        +S(['gpcas',  'polyMath', 'bx', 'box', 'sep'])

        //fiz
        +S(['fiz', 'fizBod','fizFixt','coll', 'joint', 'ray' , 'co',  'geo'])

        //SPAZ
        +S(['spaz', 'wall', 'world', 'bodFixt', 'player', 'yip', 'scrolling'])
        +S(['anims', 'canApps', 'betaGames','coGames', 'cxGames','geoGames'])
        +S(['jointGames','netguy','scrollGames', 'shapePuzGames', 'yipGames','greenGuy'])
        +S(['loadApps', 'graphicsTests', 'play'])

        body