include mixins

!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'

        +S(['us','string', 'both', 'jq','objects','qq','jqfn','html'])
        +S(['ctx', 'can', 'frontExtension'])


        //graf
        +S(['cjs','cjsMC','anims'])
        +S([ 'create', 'displayOb', 'tran','easelShapeOb', 'filt', 'anim' ])


        //gpcas poly lib
        +S(['gpcas',  'polyMath'])


        //fiz
        +S(['bx', 'box','sep', 'fiz', 'coll'])
        +S([ 'joints', 'distJoints', 'revJoints', 'advancedJoints'])
        +S(['ray','co', 'polyCirc',   'geo' ,'geoWorld' ])


        //spaz
        +S(['spaz','walls', 'bfr','spazBindSp','bPoly', 'scrolling', 'player','yip'])


        +S(['canApps', 'betaGames','coGames', 'cxGames','geoGames'])
        +S(['jointGames','netguy','scrollGames', 'shapePuzGames', 'yipGames','greenGuy'])
        +S(['loadApps', 'graphicsTests', 'play'])
        body