include mixins

!!! 5
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script.
          _app = wappyApp = '#{app}'
          _pam = wappyPam = '#{pam}'
        +S(['us','string', 'both', 'jq','objects','qq','jqfn','html','ctx', 'can', 'frontExtension'])
        +S(['cjs','cjsMC','anims','create', 'graphix',  'graf',  'filt', 'anim' ])


        //box
        +S(['gpcas',  'polyMath', 'bx', 'box', 'sep'])

        //fiz
        +S(['fiz', 'coll', 'joint', 'ray' , 'co',  'geo'])


        +S(['spaz', 'wall', 'world', 'player', 'yip', 'scrolling'])


        +S(['canApps', 'betaGames','coGames', 'cxGames','geoGames'])
        +S(['jointGames','netguy','scrollGames', 'shapePuzGames', 'yipGames','greenGuy'])
        +S(['loadApps', 'graphicsTests', 'play'])

        body