extend ../face
block content


    .row.well
        .col
            .col-md-offset3.span6
                h1 j i t t er

    p here we will learn (as we go) about twitter bootstrap combined with jade :)
    p lets begin..                     use this: <  -  !DOCTYPE html  -  >
    p you may be wondering why i put those '-' symbols.. well it wouldn't render without them..
        p gotta be related to the fact that an html tag was recognized..

            p in jade, set the doctype via 'doctype' or just '!!!' (skull uses: "doctype 5")

    p= 'lets begin..                     use this: <!DOCTYPE html>'
    p nailed it!  .. i used   'p=' and on the same line, write the text.. but put it in quotes.  looks like it treats this as code perhaps..
    br
